<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.smd"
            id="org.nanosite.simbench.simo.generator.contribution1">
         <action
               label="Generate visuals and reports"
               icon="icons/Button-Refresh-icon16.png"
               class="org.nanosite.simbench.simo.generator.ui.GenerateAllAction"
               menubarPath="org.nanosite.simbench.ide.simoMenu/groupSIMBENCH"
               enablesFor="1"
               id="org.nanosite.simbench.simo.generator.genAllAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
